body{    
    margin: 0px;
    padding: 0px;
    background-color: #f3f3f3;
    font-family: 'TW Cen MT';
    font-stretch: condensed;
    font-weight: 800;
 
}
header{
    background-color: #555;
    width: 100%;
    height:20vh;
    border-radius: 0  0 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:0px;
    padding: 0px;
    z-index: 3;
}    

ul li{
    margin: 10px;
    padding: 0px;
    display: inline;
} 
.tab{
    display: inline-block;
    border-radius: 15px;
    height: 50px;
    line-height: 50px;
    width: 150px;
    margin:0px;
    padding: 0px;
    border: 1px solid black;
    background-color: black;
    font-stretch: normal;
    font-weight: bold;
    font-size: 25px;
    color: white;    
    text-align: center;
    text-decoration: none;
    font-family: 'TW Cen MT';
    align-self: centerZ;
  } 

.page1{  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
  .cartoonized
  { height: 80vh;
    overflow: hidden;
  }  

.intro
{   margin: 0px;
    padding: 0px;  
}



.page2{
    height: 100vh;  
    display: flex;
    justify-content: space-evenly;
  }

.abtlogo{
    margin-top: -100px;
    margin-left: -400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abtlogo svg{
    margin: 0px;
    padding: 0px;
    width: 580px;
} 
.abtlogo text{
    position: relative;
    margin-top: 30px;
    left: 510px;;
    z-index: 1;
}
.about p{
    width: 750px;
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: normal;
    font-weight: 400;
    text-align: justify;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page3{
    height: 250vh;  
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

line{
    background-color:#FFA200;
    width: 700px;
    height:12.5px;
    align-self: flex-end;
    
}
.page3 div{
    display: flex;
    justify-content: space-evenly;
}
.page3 img{
    height: 35vh;
    overflow: hidden;
}
.proorder div p{
    width: 700px;
    display: flex;
    flex-direction: column ;
    font-size: 21px;
    font-family: "georgia";
    font-stretch: normal;
    font-weight: 400;
    text-align: justify;
}
.proorder div p Text{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.proorder{
    margin-top: -40px;
    height: 250vh;  
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.proorder div{
    align-items: center;
}


.page4
 {
   /*   background-color: burlywood; */
    /* height: 400vh;   */
    display: flex;
    flex-direction: column;
    /* align-items: stretch;   */
}

.wkheading{
    display: flex;
    justify-content: space-evenly;
}
.apporder img{
    height:80vh;
    object-fit: contain;
}
.apporder{ 
    margin-top: 70px;
    height: 250vh;  
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.apporder div{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.uiorder{
    height: 100vh;
}
.uiorder img{
    height: 80vh;

}
.uiorder svg{
    margin-left: 100px;
}
.webd{
    height: 100vh;
    display: flex; 
    align-items: stretch;
    justify-content: space-around;

}
.webd img{
    height: 100vh;
    margin-left: 50px;
}
.webd div{
    position: absolute;
    right:10%;
    margin-top: 15%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.webd div p{
    font-size: 40px; 
    font-family: showcard gothic; 
    color:#007140;
    text-align: center; 
    text-shadow: 1px 1px 1px black;
    line-height: 50px;
    margin-bottom: 5px;
}
.pcbd{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pcbd img{
    margin-right: 5%;
    height: 80vh;
}
.spark{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.spark img{
    height: 90vh;
}







.page5{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* background-color: royalblue; */
}
.foot{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
rect{
    display: flex;
    align-self: flex-end;
    justify-self: center;
    width: 100%;
    height:15vh;
    align-items: flex-end;
    justify-content:center;
    background-color: #555555;
    margin-bottom: 20px;
    border-radius:0 0 30px 30px;
} 
rect text{
    font-size: 25px;
    color: white; 
    font-family:"Futura Bk BT";
    font-weight: 100;
    margin-bottom: 10px;
}

footer{
    display: flex;
    align-self:center;
    justify-self: center;
    height: 0%;
    width: 0%;
    border-left: 49.4vw solid transparent;
    border-right: 49.4vw solid transparent;
    border-bottom: 30vh solid #555555;
    }

.page5 line{
    background-color:#FFA200;
    width: 70vw;
    height:5px;
    align-self: center;
}


.ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: -30vh;

}
.page5 ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    z-index: 3;
    /* background-color: tan; */
}    

.page5 ul li{
    margin: 10px;
    padding: 0px;
} 
.conlogo{
    width: 600px;
    /* background-color: steelblue; */
}
.conlogo text{
    position: relative;
    top: 370px;
    left: 115px;
    
}
.conlogo svg{
    margin-bottom: 150px;
    padding: 0px;
    width: 580px;
} 
.conicon{
    position: relative;
    top: -68vh;
    left:38vw;
    height: 370px;
    width: 370px;
    /* background-color: springgreen; */
}
.conicon img{
    height: 45px;

}

